{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <a href="{% url 'posts_home' %}">Home</a>
        <a href="{% url 'posts_about' %}">About</a>
        <a href="{% url 'posts_services' %}">Services</a>
        <a href="{% url 'create_post' %}">Create Post</a>
    </header>
    
    {% block content %}
        
    {% endblock content %}
        
</body>
</html>